body {
    font-family: arial, sans-serif;
    margin: 0px;
}

header {
    top: 0px;
    width: 100%;
    position: fixed;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: black;

}

li {
    display: inline;
}

li a {
    font-size: 13px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

li a:hover {
    font-decoration: underline;
}

input[type="text"] {
    font-size: 16px;
}

.nav-topleft {
    color: #404040;
    float: left;
    width: 50%;
    margin: 20px 0px 0px 20px;
}

.nav-topleft a {
    color: #404040;
}


.nav-topright {
    position: absolute;
    float: right;
    margin: 5px -13px 0px 0px;
    color: #404040;
    width: %;
    right: 10px;
}

.nav-topright a {
    color: #404040;
}


.center {
    text-align: -webkit-center;
    padding-top: 175px;
}

.search-bar {
    display: inline-block;
    margin: 0 auto;
    widows: 100px;

}

.search-buttons {
    padding-top: 28px;
    padding-right: 35px;
}

.Footer {
    background-color: #f2f2f2;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    outline: #E4E4E4;
    border-top: 1px solid #e4e4e4;

}

.Footer ul {
    height: 40px;
}

.Footer a {
    color: #5F6368;
}

.Footer-Left {
    float: left;
    display: block;
    color: #5F6368;
    padding: 8px 22px;
    margin: 0px 0px 0px 0px;
}

.Footer-Right {
    float: right;
    display: block;
    color: #5F6368;
    padding: 8px 22px;
    margin: 0px 5px 0px 0px;
}

#nav-about {
    margin: 0 0 5px 3px;
}

#nav-store {
    margin: 4px 0 0 18px;
}

#nav-gmail {
    padding-right: 11px;
}

#nav-images {
    padding-right: 11px;
}

#nav-googlesuite {
    padding-right: 11px;
}

#nav-userimage {
    padding-right: 3px;
    width: 50px;
}

#GoogleSuite {
    width: 22px;
    margin: -10px -13px -8px 0px;
    padding: 3px;
}

#UserImage {
    width: 52px;
    margin: -1px 13px -20px 0px;
    padding: 5px;
}

#GoogleSearchBody {
    position: fixed;
    left: 450px;
    top: 180px;
    justify-content: center;
    margin: auto;
}

#logo {
    width: 272px;
    margin-top: 23px;
}

#search-box {
    width: 458px;
    padding: 13px;
    border-radius: 25px;
    top: 23px;
    left: 5px;
    border: 1px solid #dfe1e5;
    position: relative;
    background-image: url(/images/microphone.png);
    background-position: 96.3% 50%;
    background-repeat: no-repeat;
    background-size: 21px;
    outline: none;
}

#search-box:hover {
    -webkit-box-shadow: 1px 1px 1px 1px #f2f2f2;
    -moz-box-shadow: 1px 1px 1px 1px #f2f2f2;
    box-shadow: 1px 1px 1px 1px #f2f2f2;
}

#google-search-button {
    background-color: #F2F2F2;
    width: 110px;
    padding: 10px 0px 10px 0px;
    border-radius: 5px;
    border-color: #f2f2f2;
    text-align: center;
    margin: 25px 0px 0px 65px;
    font-size: 14px;
    color: #5F6368;
    outline: none;
}

#im-feeling-lucky-button {
    background-color: #F2F2F2;
    width: 130px;
    padding: 10px 0px 10px 0px;
    border-radius: 5px;
    border-color: #f2f2f2;
    text-align: center;
    margin: 8px;
    font-size: 14px;
    color: #5F6368;
}

#nav-advertising {
    padding-right: 22px;
    padding-left: 10px;
}

#nav-privacy {
    padding-right: 22px;
}

#nav-tos {
    padding-right: 22px;
}